#logo {
    height: 40px;
    width: auto;
    margin-right: 1rem;
}

/* Last Modified Date */
#modificationDate {
    display: block;
}

/* Next Prev Articles */
.next-article {
    border:none;
    gap: 1rem;
}

.prev, .next {
    border: 1px solid var(--bs-border-color);
    border-radius: 10px;
    padding-block: 1rem;
    padding-inline: 1rem;
}

/* Games Page */
.games-list {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.games-list .game {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    padding: 15px;
}

.games-list .game:nth-child(2n) {
    background-color: #E9ECEF;
}

.games-list .game .game-container {
    width: 65rem;

}

.platform-image {
    height: 100%;
    width: auto;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.platform-label {
    vertical-align: middle;
    display: inline-block;
    color: #fff;
}

.platforms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.platform-button {
    --background-color: black;
    --color: white;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: var(--background-color);
    color: var(--color);
    color: #fff;
    display: block;
    text-decoration: none;
}

.platform-button:hover {
    transition-property: background;
    transition-duration: 200ms;
}

.platform-button.button-steam {
    --background-color: black;
}

.platform-button.button-steam:hover {
    --background-color: #1a1a1a;
}

.platform-button.button-itch {
    background-color: #fa5c5c;
}

.platform-button.button-itch:hover {
    background-color: #f82b2b;
}

.platform-button.button-ludum,
.platform-button.button-gdq {
    background-color: #1f2429;
}

.platform-button.button-ludum:hover,
.platform-button.button-gdq:hover {
    background-color: #090b0c;
}

th video,
td video {
  width: 100%;
  height: 100%
}

th:has(a img[alt^="Figure"]),
td:has(a img[alt^="Figure"]) {
  width: 50%;
}
